.page-footer__wrapper {
  padding: 40px 15px;
  display: grid;
  gap: 15px;

  @media (min-width: $min-tablet-width) {
    padding: 40px 45px;
    grid-template-columns: 1fr 250px;
    gap: 25px;
  }

  @media (min-width: $desktop-width) {
    padding: 60px 100px 40px;
    align-items: center;
  }
}

.page-footer__menu-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin-bottom: 5px;

  @media (min-width: $min-tablet-width) {
    flex-direction: row;
    margin-bottom: 0;
    grid-column: 1 / -1;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / 2;
    justify-content: flex-start;
    gap: 52px;
  }
}

.page-footer__menu-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px 30px;

  @media (min-width: $min-tablet-width) {
    gap: 15px;
  }

  @media (min-width: $desktop-width) {
    gap: 30px;
  }
}

.page-footer__menu-link {
  font-size: 14px;
  line-height: 20px;
  color: $color-primary;
  text-decoration: none;

  &:hover {
    color: $color-secondary;
    opacity: 0.7;
  }

  &:focus {
    color: $color-secondary;
  }

  &:active {
    color: $button-active;
  }

  @media (min-width: $min-tablet-width) {
    font-size: 16px;
  }

  @media (min-width: $desktop-width) {
    line-height: 17px;
  }
}

.page-footer__policy-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (min-width: $min-tablet-width) {
    align-items: flex-start;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;
    grid-column: 1 / -1;
  }
}

.page-footer__privacy-policy {
  display: block;
  text-decoration: underline;
  text-underline-position: under;
  color: $color-primary;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 14px;

  &:hover {
    color: $color-secondary;
    opacity: 0.7;
  }

  &:focus {
    color: $color-secondary;
    opacity: 1;
  }

  &:active {
    color: $button-active;
    opacity: 1;
  }

  @media (min-width: $min-tablet-width) {
    line-height: 12px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    font-size: 14px;
    line-height: 18px;
  }
}

.page-footer__copyright {
  margin: 0;
  font-size: 12px;
  line-height: 14px;
  color: rgba($color-primary, 0.6);

  @media (min-width: $min-tablet-width) {
    line-height: 12px;
  }

  @media (min-width: $desktop-width) {
    font-size: 14px;
    line-height: 18px;
  }
}

.page-footer__social-list {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;

  @media (min-width: $min-tablet-width) {
    justify-content: flex-end;
  }

  @media (min-width: $desktop-width) {
    grid-column: -2 / -1;
    grid-row: 1 / 2;
  }
}

.page-footer__social-link {
  display: block;
  position: relative;
  min-width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: $icons-background-main;

  &:focus {
    background-color: $color-light;
  }

  &:active {
    background-color: $button-active;
  }

  &::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $icons-main;
    mask-position: center;
    mask-size: 12px 12px;
    mask-repeat: no-repeat;
  }

  @media (min-width: $min-tablet-width) {
    min-width: 36px;
    height: 36px;

    &::after {
      mask-size: 16px 16px;
    }
  }
}

.page-footer__social-link--vk {
  &::after {
    mask-image: url("/__spritemap#sprite-vk-view");
  }

  &:hover::after {
    background-color: $color-light;
    opacity: 0.7;
  }

  &:focus::after {
    background-color: $color-secondary;
  }

  &:active::after {
    background-color: $color-light;
    opacity: 1;
  }
}

.page-footer__social-link--ok {
  &::after {
    mask-image: url("/__spritemap#sprite-ok-view");
  }

  &:hover::after {
    background-color: $color-light;
    opacity: 0.7;
  }

  &:focus::after {
    background-color: $color-secondary;
  }

  &:active::after {
    background-color: $color-light;
    opacity: 1;
  }
}

.page-footer__social-link--reddit {
  &::after {
    mask-image: url("/__spritemap#sprite-reddit-view");
  }

  &:hover::after {
    background-color: $color-light;
    opacity: 0.7;
  }

  &:focus::after {
    background-color: $color-secondary;
  }

  &:active::after {
    background-color: $color-light;
    opacity: 1;
  }
}
