/* colors */
$background-primary: #ffffff;
$background-secondary: #f0efe9;
$background-special: #316dc2;
$background-overlay: rgba(#0d1d33, 0.4);
$background-programs-overlay: rgba(#316dc2, 0.2);
$button-border: #316dc2;
$button-active: #275699;
$button-disabled: #a9afb7;
$border-light: #ffffff;
$icons-main: #ffffff;
$icons-background-main: #316dc2;
$color-primary: #484848;
$color-secondary: #316dc2;
$color-light: #ffffff;
$color-advantages: #f0efe9;

/* fonts */
$font-primary: "Manrope", sans-serif;

/* device width */
$mobile-width: 320px;
$max-mobile-width: 767px;
$min-tablet-width: 768px;
$max-tablet-width: 1439px;
$desktop-width: 1440px;
